<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sentry.landsea.com.au</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>HAZEL.arvixe.com</MSDeployServiceURL>
    <DeployIisAppPath>sentry.landsea.com.au</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>sentryla_eacomau_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuditConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sentry.landsea.com.au;Initial Catalog=EnviroManager;Persist Security Info=True;User ID=landsea;Password=hostmaster82" Name="Data Source=sentry.landsea.com.au;Initial Catalog=EnviroManager;Persist Security Info=True;User ID=landsea;Password=hostmaster82;MultipleActiveResultSets=true;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Freelance.AuditApp.AuditConnection, Freelance.AuditApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuditConnection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sentry.landsea.com.au;Initial Catalog=EnviroManager;Persist Security Info=True;User ID=landsea;Password=hostmaster82;MultipleActiveResultSets=true;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>